@font-face {
  font-family: Sans-regular;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Sans-bold;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

*{   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}


.header {
  position: relative;
  z-index: 0;
  
  padding-top: 30px;
  margin-bottom: 65px;
  
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  background-position: center center;
}

.header:after {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  
  background-color: #000000;
  opacity: 0.6;
}

.logo-link {
  width: 180px;
}

.menu-list {
  display: flex;
  margin: 0;

  list-style-type: none;
}

.menu-button {
  width: 24px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}
.burger-line {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  }
.burger-line:not(:last-child) {
  margin-bottom: 6px;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu-link {
  text-decoration: none;
  font-family: Sans-regular, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  
  color: #ffffff;
}

.main-title {
  width: 690px;
  margin: auto;
  padding-top: 105px;
  padding-bottom: 125px;
  
  font-family: Sans-bold, sans-serif;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.66;
  text-transform: uppercase;
  
  color: #ffffff;
}

.trends {
  width: 100%;
}

.trends-main-title {
  text-align: center;
  text-decoration: none;
  font-family: Sans-bold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.trends-main-title:after {
  content:"";
  
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 66px;
  height: 3px;
  display: block;
  
  background-color: #e1d9bd;
}

.trends-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

.trend-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trend {
  width: 24.8%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eff6f1;
  position: relative;
  z-index: 0;
}

.trend:after { 
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6; 
  z-index: 1;
}

.trend-description{
  max-height: 85%;
  width: 90%;
  border: 3px solid #b59f5b;
  padding: 5% 5%;
  position: absolute; 
  bottom: 12.57%; 
  margin: auto 3.63%;
  z-index: 2;
}

.trend-tags {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px; 
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.trend-tags-item:not(:last-child) {
  margin-right: 20px;
}

.trends-title {
  text-decoration: none;
  font-family: Sans-bold, sans-serif;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.trends-link {
  text-decoration: none;
  font-family: Sans-bold, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.page {
  width: 100%;
  box-sizing: border-box;
  padding: 3.85% 14.69% 0;
}

.page-conteiner {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin: auto;
}

.main {
  box-sizing: border-box;
  width: 65%; 
}

.aside {
  width: 22.5%;
  margin-left: 12.5%;
}

.post {
  display: flex;
  margin-top: 60px;
}

.post:first-child {
  margin-top: 0;
}

.post-preview {
  width: 48.72%;
}

.post-img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}

.post-tags-item:not(:last-child) {
  margin-right: 20px;
}

.tags-link {
  text-decoration: none;
  font-family: Sans-bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  
  color: #b59f5b;
}

.post-title {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 28px;
  
  font-family: Sans-bold, sans-serif;
  text-align: left;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.post-link {
  text-decoration: none;
  color:#000000;
}

.time {
  font-family: Sans-regular, sans-serif;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  
  color: #888888;
}

.author {
  font-family: Sans-bold, sans-serif;
  font-size: 12px;
  font-weight: 700;
  
  text-decoration: none;
  color: #000000;
}

.post-text {
  margin-top: 50px;
  
  font-family: Sans-regular, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.46;
}

.news-title {
  margin-top: 0;
  
  font-family: Sans-bold, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.news-title:after {
  content:"";
  
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 66px;
  height: 3px;
  display: block;
  
  background-color: #e1d9bd;
}

.new-post {
  margin-top: 22px;
  display: flex;
  margin-bottom: 0;
}

.new-post:first-child {
  margin-top: 27px;
}

.new-post-img {
  width: 70px;
}

.new-post-description {
  margin-left: 18px;
}

.new-post-title{
  margin-top: 0;
  margin-bottom: 0;
}

.new-post-link {
  text-decoration: none;
  font-family: Sans-bold, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  
  color: #000000;
}

.search-form {
  width: 100%;
}

.search {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}

.hide-description {
  position: absolute;
  
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.search-container {
  flex-grow: 1;
}

.search-fileld {
  padding-left: 20px;
  width: 100%;
  height: 47px;
  
  font-size: 13px;
  
  border: none;
  background-color: #f4f7f6;
}

.search-button {
  border: none;
  width: 50px;
  
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  background-color: #b59f5b;
}

.mailing-title {
  margin-top: 60px;
  margin-bottom: 23px;
  
  text-align: center;
  font-family: Sans-bold, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.mailing-title:after {
  content:"";
  
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 66px;
  height: 3px;
  display: block;
  
  background-color: #e1d9bd;
}

.mailing-field {
  box-sizing: border-box;
  padding-left: 20px;
  height: 47px;
  width: 100%;
  
  font-size: 13px;
  
  border: none;
  background-color: #f4f7f6;
}

.subscribe-button {
  margin-top: 20px;
  height: 47px;
  border: none;
  width: 100%;
  
  font-family: Sans-bold, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  
  background-color: #b59f5b;
  color: #ffffff;
}

.tags-title {
  margin-top: 60px;
  margin-bottom: 0;
  
  text-align: center;
  font-family: Sans-bold, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.tags-title:after {
  content:"";
  
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 66px;
  height: 3px;
  display: block;
  
  background-color: #e1d9bd;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  
  list-style: none;
}

.tags-list-item {
  justify-content: flex-start;
  
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 26px;
}

.tags-list-link {
  padding: 7px 13px;
  
  text-decoration: none;
  font-family: Sans-bold, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  
  color: #0f0d0e;
  border: 3px solid #eeeeee;
}

.theme-title {
  margin-top: 60px;
  margin-bottom: 0;
  
  text-align: center;
  font-family: Sans-bold, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.theme-title:after {
  content:"";
  
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 66px;
  height: 3px;
  display: block;
  
  background-color: #e1d9bd;
}

.theme-list {
  padding: 0;
  
  list-style: none;
}

.theme-list-item {
  margin-top: 15px;
  margin-left: 0;
}

.theme-list-item:after {
  content: "";
  
  display: block;
  margin-top: 15px;
  width: 100%;
  height: 1px;
  
  background-color: #eeeeee;
}

.theme-list-link {
  margin: 0 3px 0 0;
  
  text-decoration: none;
  font-family: Sans-bold, sans-serif;
  font-weight: 700;
  font-size: 14px;
  
  color: #000000;
}

.theme-number {
  vertical-align: top;
  
  display: inline-block;
  
  font-size: 12px;
  font-family: Sans-bold, sans-serif;
  font-weight: 700;
  
  color: #b59f5b;
}

.shop-container {
  width: 100%;
  max-width: 1200px;
  margin: 39px auto 0px auto;
  
}

.shop-title {
  text-align: center;
  margin: 64px auto 5px auto; 
  font-size: 20px; 
  font-family: osbold, sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
}

.shop-title::after {  
  content: " ";
  display: block;
  box-sizing: border-box;
  width: 66px;
  margin: 10px auto 25px auto;
  border-bottom: 3px solid #e1d9bd;
}

.shops {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  flex-wrap: wrap;
}

.shop {
  width: 28.75%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 20px;
  font-family: Sans-bold, sans-serif;
  line-height: 24px;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 0; 
  padding: 0;
  margin-top: 0;
}

.shop-img {
  width: 100%; 
  object-fit: contain;
  padding: 0 25px;
  z-index: -1;
}

.shop-description {
  width: 100%;
  padding: 55px 25px 25px;
  margin-top: -30px;
  border: 3px solid #b59f5b;
  z-index: 0;
  flex-grow: 1;

}

.product-description {
  font-size: 15px;
  font-family: osregular, sans-serif;
  line-height: 22px;
  color: #0f0d0e; 
  margin-top: 0;
}

.product-footer {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-old {
  text-decoration: line-through;
  font-family: Sans-bold, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 14px;
}

.product-price-new {
  font-family: Sans-bold, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 20px;
}

.rub {
  font-family: inherit;
  text-transform: uppercase;
  color: inherit;
  font-size: inherit;
}

.product-button {
  height: 50px;
  width: 141px;
  border: none;
  background-color: #b59f5b;
  font-family: Sans-bold, sans-serif;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 14px;
}

.shop-link {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: #b59f5b; 
}

.footer {
  margin-top: 64px;
  padding-bottom: 40px;
}

.footer-container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.address {
  margin: auto;
  margin-bottom: 60px;
  
  background-color: #f4f7f6;
}

.social-list {
  justify-content: center;
  
  display: flex;
  padding: 0;
  
  list-style: none;
}

.social-link {
  display: block;
  width: 22px;
  height: 22px;
  margin-left: 13px;
  margin-right: 13px;
  padding-top: 30px;
  padding-bottom: 30px;
  
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
}

.social-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}

.social-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.social-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.social-link-instagram {
  background-image: url(../svg/005-instagram.svg);
}

.social-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.social-link-text {
  position: absolute;
  
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
  text-decoration: none;
  text-align: center;
  font-family: Sans-bold, sans-serif;
  font-size: 12px;
  font-weight: 700;
  
  color: #999999;
}

.tags-link:hover,
.shop-link:hover,
.menu-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.trends-link:hover,
.post-link:hover,
.theme-list-link:hover {
  color: #b59f5b;
  cursor: pointer;
}

.search-fileld:focus,
.mailing-field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.search-button:hover,
.subscribe-button:hover,
.product-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.tags-list-link:hover {
  border: 3px solid #b59f5b;
}

.popup-background {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(0,0,0,0.6);
}

.popup {
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 3;
}

.popup-container {
  font-family: Sans-Regular;
  display: flex;
  flex-direction: column;
  max-width:390px;
  width:95%;
  min-height: 590px;
  margin: auto;
  position: relative;
  background-color: #ffffff;
  padding: 60px 20px 55px 25px;
  z-index: 3;
}

.close-popup {
  width: 17px;
  height: 17px;
  fill: #eff5f1;
  position: absolute;
  top: -25px;
  right: 0;
}

.popup-close {
  width: 1.4em;
  height: 1em;
  position: absolute;
  top: -1.5em;
  right: 0;
  background-color:transparent;
  border: none;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
}

.popup-title {
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: Sans-bold;
  margin-top: 0;
}

.popup-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 25px;
}

.form_tittle {
  display: inline-block;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: Sans-bold;
  width: 330px;
  margin-bottom: 12px;
}

.form_wrapper {
  margin-bottom: 25px;
}

.select {
  display: block;
  width: 330px;
  height: 50px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 20px;
  font-family: Sans-bold;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px;
  appearance: none;
}

.select:focus {
  outline: 1px solid #b59f5b;
}

.radio_text {
  font-family: Sans-bold;
  font-size: 13px;
  font-weight: 400;
}

.radio_text::before {
  content: "";
  background-image: url(../svg/form-empty-circle.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  vertical-align: middle;
  margin-right: 5px;
}

.radio:checked ~ .radio_text::before {
  background-image: url(../svg/form-circle.svg);
}

.radio {
  display: none;
}

.form_field {
  box-sizing: border-box;
  min-width: 330px;
  min-height: 130px;
  max-width: 330px;
  max-height: 130px;
  font-family: Sans-bold;
  padding: 20px;
  border: none;
  background-color: #f4f7f6;
}

.form_field:focus {
  outline: 1px solid #b59f5b;;
}

.form_button {
  width: 330px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "OpenSans";
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .header {
    display: flex;
    flex-direction: column;
    background-image: url(../images/banner-mobile.jpg);
  }

  .logo-link {
    display: block;
    width: 75%;
    margin: 225px auto 0;
  }

  .main-title {
    margin: 44px auto 0;    
    width: 75%;
    font-size: 26px;
  }

  .menu-button {
    position: absolute;
    top: 35px;
    right: 15px;
  }
  
  .page {
    padding: 12.2% 4.17% 0;
  }

  .page-conteiner {
    flex-direction: column;
  }

  .main {
    width: 100%;
  }

  .aside {
    width: 100%;
    margin-top: 44px;
    margin-left: 0;
  }

  .shop {
    width: 100%;
  }

  .shop:not(:last-child) {
    margin-bottom: 25px;
  }

  .product-title {
    font-size: 17px;
  }

  .popup-container {
    width: 330px;
    padding: 30px 25px 30px;
  }

  .select {
    width: 280px;
  }

  .form_field {
    min-width: 280px;
    min-height: 130px;
    max-width: 280px;
    max-height: 130px;
  }

  .form_tittle {
    width: 280px;
  }

  .form_button {
    width: 280px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .trend {
    width: 100%;
  }
  .trend:not(:last-child){
    margin-bottom: 3px;
  }
  .trends-title {
    font-size: 16px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trend {
    width: 49.8%;
    margin-bottom: 3px;
  }
  .trends-title {
    font-size: 16px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .logo-link {
    width: 160px;
  }

  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
    margin-left: 35px;
  }

  .trends-title {
    font-size: 17px;
  }

  .page {
    padding: 6.48% 4.58% 0;
  }

  .main {
    width: 55.9%;
  }

  .aside {
    width: 38.97%;
    margin-left: 5.13%;
  }

  .shop {
    width: 47.4%;
    margin-bottom: 25px;
  }

  .shop:nth-child(odd) {
    margin-right: 2.6%;
  }

  .shop:nth-child(even) {
  margin-left: 2.6%; 
  }

  .product-title {
    font-size: 17px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .trend {
    width: 49.8%;
    margin-bottom: 3px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trend {
    width: 24.8%;
  }
}

@media (max-width: 1199px) {
  .menu-list {
    display: none;
  }

  .post {
    flex-direction: column;
  }

  .post-preview {
    width: 100%;
  }

  .post-description {
    width: 100%;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 24px;
    margin-top: 17px;
  }
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }

  .header-menu {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
  }

  .post-description {
    box-sizing: border-box;
    width: 47.44%;
    margin-left: 3.84%;
  }

  .shop:not(:last-child) {
    margin-right: 3.43%;
  }

.shop:not(:first-child) {
    margin-left: 3.43%;
  }
}